body {
	background: grey;
}

h1 {
	background: purple;
	margin: 10px;
	text-align: center;
	border: solid green;
	background-image: url("background.jpg");
}

#headshot {
	border: dotted green;
	padding: 10px;
	text-align: center;
	background: blue;
}

table {
	font-family: helvetica;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	border: dotted green;
	color: green;
}

div.container1 {
	background: purple;
	padding: 3px;
	margin: 10px;
}

a:link {
	color: grey;
}

a:visited {
	color: blue;
}

a:hover {
	color: green;
}

@media (max-width: 100px) { 
	table {
		font-size: 10px;
	}
}