body {
	background: grey;
}

h1 {
	margin: 10px;
	text-align: center;
	border: solid purple;
	background-image: url("background.jpg");
}

h2 {
	background: purple;
	margin: 40px;
	text-align: center;
}

#headshot {
	border: dotted green;
	padding: 20px;
	text-align: center;
	background: blue;
}

ul {
	list-style-type: none;
	display: inline;
	text-align: center;
}

table {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	border: dotted blue;
	color: black;
	padding: 20px;
	margin: 0px auto;
}


a:link {
	color: purple;
}

a:visited {
	color: blue;
}

a:hover {
	color: green;
}

a {
	padding: 25px;
}

form {
	background: blue;
	text-align: center;
	font-size: 30px;
}

p {
	text-align: center;
	background: grey;
	font-size: 20px;
}

#review {
	margin-left: 250px;
	text-align: center;
	background: grey;
	padding: 40px;
	font-size: 15px;
}

#reviewpics {
	display: inline;
	clear: both;
	float: left;
	padding: 20px;
}

#prodpics {
	display: inline;
}
